<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url }}/asserts/css/bootstrap.min.css?v={{ staticMethods.getHashVersion() }}">
    <link rel="stylesheet" type="text/css" href="{{ url }}/asserts/css/all.min.css?v={{ staticMethods.getHashVersion() }}">
    <link rel="stylesheet" type="text/css" href="{{ url }}/asserts/css/style.css?v={{ staticMethods.getHashVersion() }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand" href="{{ path_for("home") }}">Stack<span class="text-danger">Image</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for("login") }}"><i class="fas fa-lock"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for("register") }}"><i class="fas fa-users"></i> Register</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>


    <script src="{{ url }}/asserts/js/jquery-3.3.1.min.js?v={{ staticMethods.getHashVersion() }}"></script>
    <script src="{{ url }}/asserts/js/popper.min.js?v={{ staticMethods.getHashVersion() }}"></script>
    <script src="{{ url }}/asserts/js/bootstrap.min.js?v={{ staticMethods.getHashVersion() }}"></script>
    <script src="{{ url }}/asserts/js/app.js?v={{ staticMethods.getHashVersion() }}"></script>

</body>
</html>